
.navbar-collapse.collapse {
    font-size: 14px;
    color: #fff !important;
}
.primary {
text-align: center;
}



@media only screen and (max-width: 800px) {

	h2 {
	font-size: 200% !important;
	margin-bottom: 0px !important;
    margin-top: 0px !important;

	}
	h3 {
	    	font-size: 100% !important;
	    	margin: 1px 0 !important;;
	 }

	.control-label label {
	font-size: 18px !important;
	}
	.col-xs-4 {
	    width: 10.33333%;
	    }
	    .input-group-btn{

	    }

    .navbar-brand {
      float: left;
      padding: 12px 12px;
      font-size: 15px;
      line-height: 10px;
      height: 50px; }



	/* Force table to not be like tables anymore */
	.table-responsive table,
	.table-responsive thead,
	.table-responsive tbody,
    .table-responsive th,
	.table-responsive td,
	.table-responsive tr {
		display: block;
	}

    .md-noneMobile {
    display : none;
    }
	/* Hide table headers (but not display: none;, for accessibility) */
	.table-responsive thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.table-responsive tr { border: none; }

	.table-responsive td {
		/* Behave  like a "row" */
		border: none !important;
		border-bottom: none !important;
		position: relative ;
		padding-left: 100%;
		white-space: normal;
		text-align:left;
	}

	.table-responsive td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
		border:0 !important;
	}

	.botaotopo {
	    display:scroll;
	        position:fixed;
	            bottom:2px;
	                right:2px;
    }

    .btn-info {
      color: #fff;
      background-color: #5bc0de;
      border-color: #46b8da;
      }

      .btn-info2 {
            color: #fff;
            background-color: #5bc0de;
            border-color: #46b8da;
            }
    .btn-primary {
       color: #fff;
       background-color: #337ab7;
       border-color: #2e6da4;
    }

     .btn-danger {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
      }
      .dropdown-menu > li > a {
          display: block;
          padding: 3px 20px;
          clear: both;
          font-weight: normal;
          line-height: 1.42857;
          color: #fff !important  ;
          white-space: nowrap;
          }


  }
