<div>
    <h2 data-translate="appgetewayApp.tbc_analises_componente.home.title">Tbc Analises Componentes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tbc-analises-componente.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="appgetewayApp.tbc_analises_componente.home.createLabel">
                        Create new Tbc Analises Componente
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'appgetewayApp.tbc_analises_componente.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nome"><span data-translate="appgetewayApp.tbc_analises_componente.nome">Nome</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descricao"><span data-translate="appgetewayApp.tbc_analises_componente.descricao">Descricao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="linha"><span data-translate="appgetewayApp.tbc_analises_componente.linha">Linha</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="unidade_medida"><span data-translate="appgetewayApp.tbc_analises_componente.unidade_medida">Unidade Medida</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valor_padrao"><span data-translate="appgetewayApp.tbc_analises_componente.valor_padrao">Valor Padrao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="configuracao"><span data-translate="appgetewayApp.tbc_analises_componente.configuracao">Configuracao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tbc_instituicao.id"><span data-translate="appgetewayApp.tbc_analises_componente.tbc_instituicao">Tbc Instituicao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tbc_tipo_campo.id"><span data-translate="appgetewayApp.tbc_analises_componente.tbc_tipo_campo">Tbc Tipo Campo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tbc_analises.id"><span data-translate="appgetewayApp.tbc_analises_componente.tbc_analises">Tbc Analises</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tbc_analises_componente in vm.tbc_analises_componentes track by tbc_analises_componente.id">
                    <td><a ui-sref="tbc-analises-componente-detail({id:tbc_analises_componente.id})">{{tbc_analises_componente.id}}</a></td>
                    <td>{{tbc_analises_componente.nome}}</td>
                    <td>{{tbc_analises_componente.descricao}}</td>
                    <td>{{tbc_analises_componente.linha}}</td>
                    <td>{{tbc_analises_componente.unidade_medida}}</td>
                    <td>{{tbc_analises_componente.valor_padrao}}</td>
                    <td>{{tbc_analises_componente.configuracao}}</td>
                    <td>
                        <a ui-sref="tbc-instituicao-detail({id:tbc_analises_componente.tbc_instituicao.id})">{{tbc_analises_componente.tbc_instituicao.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="tbc-tipo-campo-detail({id:tbc_analises_componente.tbc_tipo_campo.id})">{{tbc_analises_componente.tbc_tipo_campo.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="tbc-analises-detail({id:tbc_analises_componente.tbc_analises.id})">{{tbc_analises_componente.tbc_analises.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tbc-analises-componente-detail({id:tbc_analises_componente.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tbc-analises-componente.edit({id:tbc_analises_componente.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tbc-analises-componente.delete({id:tbc_analises_componente.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
