
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTbc_analises_componenteLabel" data-translate="appgetewayApp.tbc_analises_componente.home.createOrEditLabel">Create or edit a Tbc Analises Componente</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tbc_analises_componente.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tbc_analises_componente.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appgetewayApp.tbc_analises_componente.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.tbc_analises_componente.nome"
                    required />
            <div ng-show="editForm.nome.$invalid">
                <p class="help-block"
                    ng-show="editForm.nome.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appgetewayApp.tbc_analises_componente.descricao" for="field_descricao">Descricao</label>
                <textarea class="form-control" name="descricao" id="field_descricao"
                    ng-model="vm.tbc_analises_componente.descricao"  ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appgetewayApp.tbc_analises_componente.linha" for="field_linha">Linha</label>
            <input type="number" class="form-control" name="linha" id="field_linha"
                    ng-model="vm.tbc_analises_componente.linha"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appgetewayApp.tbc_analises_componente.unidade_medida" for="field_unidade_medida">Unidade Medida</label>
            <input type="text" class="form-control" name="unidade_medida" id="field_unidade_medida"
                    ng-model="vm.tbc_analises_componente.unidade_medida"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appgetewayApp.tbc_analises_componente.valor_padrao" for="field_valor_padrao">Valor Padrao</label>
                <textarea class="form-control" name="valor_padrao" id="field_valor_padrao"
                    ng-model="vm.tbc_analises_componente.valor_padrao"  ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appgetewayApp.tbc_analises_componente.configuracao" for="field_configuracao">Configuracao</label>
                <textarea class="form-control" name="configuracao" id="field_configuracao"
                    ng-model="vm.tbc_analises_componente.configuracao"  ></textarea>
        </div>

        <div class="form-group">
            <label data-translate="appgetewayApp.tbc_analises_componente.tbc_instituicao" for="field_tbc_instituicao">Tbc Instituicao</label>
            <select class="form-control" id="field_tbc_instituicao" name="tbc_instituicao" ng-model="vm.tbc_analises_componente.tbc_instituicao" ng-options="tbc_instituicao as tbc_instituicao.id for tbc_instituicao in vm.tbc_instituicaos track by tbc_instituicao.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.tbc_instituicao.$invalid">
            <p class="help-block"
                ng-show="editForm.tbc_instituicao.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="appgetewayApp.tbc_analises_componente.tbc_tipo_campo" for="field_tbc_tipo_campo">Tbc Tipo Campo</label>
            <select class="form-control" id="field_tbc_tipo_campo" name="tbc_tipo_campo" ng-model="vm.tbc_analises_componente.tbc_tipo_campo" ng-options="tbc_tipo_campo as tbc_tipo_campo.id for tbc_tipo_campo in vm.tbc_tipo_campos track by tbc_tipo_campo.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.tbc_tipo_campo.$invalid">
            <p class="help-block"
                ng-show="editForm.tbc_tipo_campo.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="appgetewayApp.tbc_analises_componente.tbc_analises" for="field_tbc_analises">Tbc Analises</label>
            <select class="form-control" id="field_tbc_analises" name="tbc_analises" ng-model="vm.tbc_analises_componente.tbc_analises" ng-options="tbc_analises as tbc_analises.id for tbc_analises in vm.tbc_analises track by tbc_analises.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.tbc_analises.$invalid">
            <p class="help-block"
                ng-show="editForm.tbc_analises.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
