
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTbr_analiseLabel" data-translate="appgetewayApp.tbr_analise.home.createOrEditLabel">Create or edit a Tbr Analise</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tbr_analise.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tbr_analise.id" readonly />
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="appgetewayApp.tbr_analise.observacao" for="field_observacao">Observacao</label>
                <textarea class="form-control" name="observacao" id="field_observacao"
                    ng-model="vm.tbr_analise.observacao"  ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appgetewayApp.tbr_analise.forma_cadastro" for="field_forma_cadastro">Forma Cadastro</label>
            <input type="text" class="form-control" name="forma_cadastro" id="field_forma_cadastro"
                    ng-model="vm.tbr_analise.forma_cadastro"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appgetewayApp.tbr_analise.anotacao_status" for="field_anotacao_status">Anotacao Status</label>
                <textarea class="form-control" name="anotacao_status" id="field_anotacao_status"
                    ng-model="vm.tbr_analise.anotacao_status"  ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appgetewayApp.tbr_analise.directiva_data_atu" for="field_directiva_data_atu">Directiva Data Atu</label>
                <div class="input-group">
                    <input id="field_directiva_data_atu" type="text" class="form-control" name="directiva_data_atu" uib-datepicker-popup="{{dateformat}}" ng-model="vm.tbr_analise.directiva_data_atu" is-open="vm.datePickerOpenStatus.directiva_data_atu"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('directiva_data_atu')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="appgetewayApp.tbr_analise.tbr_amostra" for="field_tbr_amostra">Tbr Amostra</label>
            <select class="form-control" id="field_tbr_amostra" name="tbr_amostra" ng-model="vm.tbr_analise.tbr_amostra" ng-options="tbr_amostra as tbr_amostra.id for tbr_amostra in vm.tbr_amostras track by tbr_amostra.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.tbr_amostra.$invalid">
            <p class="help-block"
                ng-show="editForm.tbr_amostra.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="appgetewayApp.tbr_analise.tbc_status" for="field_tbc_status">Tbc Status</label>
            <select class="form-control" id="field_tbc_status" name="tbc_status" ng-model="vm.tbr_analise.tbc_status" ng-options="tbc_status as tbc_status.id for tbc_status in vm.tbc_statuses track by tbc_status.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.tbc_status.$invalid">
            <p class="help-block"
                ng-show="editForm.tbc_status.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="appgetewayApp.tbr_analise.tbc_analises" for="field_tbc_analises">Tbc Analises</label>
            <select class="form-control" id="field_tbc_analises" name="tbc_analises" ng-model="vm.tbr_analise.tbc_analises" ng-options="tbc_analises as tbc_analises.id for tbc_analises in vm.tbc_analises track by tbc_analises.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
