<div>
    <h2 data-translate="appgetewayApp.tbc_cliente.home.title">Tbc Clientes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="tbc-cliente.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  data-translate="appgetewayApp.tbc_cliente.home.createLabel">
                        Create new Tbc Cliente
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'appgetewayApp.tbc_cliente.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nome"><span data-translate="appgetewayApp.tbc_cliente.nome">Nome</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cep"><span data-translate="appgetewayApp.tbc_cliente.cep">Cep</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endereco"><span data-translate="appgetewayApp.tbc_cliente.endereco">Endereco</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span data-translate="appgetewayApp.tbc_cliente.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imprimir"><span data-translate="appgetewayApp.tbc_cliente.imprimir">Imprimir</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enviar_email"><span data-translate="appgetewayApp.tbc_cliente.enviar_email">Enviar Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="directiva_data_atu"><span data-translate="appgetewayApp.tbc_cliente.directiva_data_atu">Directiva Data Atu</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cpf_cnpj"><span data-translate="appgetewayApp.tbc_cliente.cpf_cnpj">Cpf Cnpj</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="codigo_cliente"><span data-translate="appgetewayApp.tbc_cliente.codigo_cliente">Codigo Cliente</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="removido"><span data-translate="appgetewayApp.tbc_cliente.removido">Removido</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bairro"><span data-translate="appgetewayApp.tbc_cliente.bairro">Bairro</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bloquear"><span data-translate="appgetewayApp.tbc_cliente.bloquear">Bloquear</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descricao"><span data-translate="appgetewayApp.tbc_cliente.descricao">Descricao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tbc_instituicao.id"><span data-translate="appgetewayApp.tbc_cliente.tbc_instituicao">Tbc Instituicao</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tbc_grupo_cliente.id"><span data-translate="appgetewayApp.tbc_cliente.tbc_grupo_cliente">Tbc Grupo Cliente</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tbc_cliente in vm.tbc_clientes track by tbc_cliente.id">
                    <td><a ui-sref="tbc-cliente-detail({id:tbc_cliente.id})">{{tbc_cliente.id}}</a></td>
                    <td>{{tbc_cliente.nome}}</td>
                    <td>{{tbc_cliente.cep}}</td>
                    <td>{{tbc_cliente.endereco}}</td>
                    <td>{{tbc_cliente.email}}</td>
                    <td>{{tbc_cliente.imprimir}}</td>
                    <td>{{tbc_cliente.enviar_email}}</td>
                    <td>{{tbc_cliente.directiva_data_atu | date:'medium'}}</td>
                    <td>{{tbc_cliente.cpf_cnpj}}</td>
                    <td>{{tbc_cliente.codigo_cliente}}</td>
                    <td>{{tbc_cliente.removido}}</td>
                    <td>{{tbc_cliente.bairro}}</td>
                    <td>{{tbc_cliente.bloquear}}</td>
                    <td>{{tbc_cliente.descricao}}</td>
                    <td>
                        <a ui-sref="tbc-instituicao-detail({id:tbc_cliente.tbc_instituicao.id})">{{tbc_cliente.tbc_instituicao.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="tbc-grupo-cliente-detail({id:tbc_cliente.tbc_grupo_cliente.id})">{{tbc_cliente.tbc_grupo_cliente.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="tbc-cliente-detail({id:tbc_cliente.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tbc-cliente.edit({id:tbc_cliente.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="tbc-cliente.delete({id:tbc_cliente.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
