
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTbc_plano_teste_analiseLabel" data-translate="entity.home.createOrEditLabel">Create or edit a Tbc Plano Teste Analise</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tbc_plano_teste_analise.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tbc_plano_teste_analise.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="global.field.ordem" for="field_ordem">Ordem</label>
            <input type="number" class="form-control" name="ordem" id="field_ordem"
                   ng-model="vm.tbc_plano_teste_analise.ordem"
                   required />
            <div ng-show="editForm.ordem.$invalid">
                <p class="help-block"
                   ng-show="editForm.ordem.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                   ng-show="editForm.ordem.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label data-translate="global.field.tbc_analises" >Tbc Analises</label>

            <ui-select id="field_tbc_analises"  reset-search-input="true" ng-model="vm.tbc_plano_teste_analise.tbc_analises" required>
                <ui-select-match allow-clear="true" placeholder="{{ 'entity.home.searchcombo' | translate }}">
                    <span ng-bind="vm.tbc_plano_teste_analise.tbc_analises.nome"></span>
                </ui-select-match>
                <ui-select-choices

                                   repeat="item in (vm.tbc_analises) | filter: {nome: $select.search}"
                                   refresh="vm.loadOtherEntities($select.search)"
                >
                    <div ng-bind-html="item.nome | highlight: $select.search"></div>
                    <small ng-bind-html="item.tbc_sub_grupo.nome | highlight: $select.search"></small>
                </ui-select-choices>
            </ui-select>
        </div>
        <div ng-show="editForm.tbc_analises.$invalid">
            <p class="help-block"
               ng-show="editForm.tbc_analises.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
