
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTbc_formularioLabel" data-translate="entity.home.createOrEditLabel">Create or edit a Tbc Formulario</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.tbc_formulario.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.tbc_formulario.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="global.field.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.tbc_formulario.nome"
                    required />
            <div ng-show="editForm.nome.$invalid">
                <p class="help-block"
                    ng-show="editForm.nome.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="global.field.descricao" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao"
                    ng-model="vm.tbc_formulario.descricao"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="global.field.tipo_identificacao" for="field_tipo_identificacao">Tipo Identificacao</label>
            <input type="text" class="form-control" name="tipo_identificacao" id="field_tipo_identificacao"
                    ng-model="vm.tbc_formulario.tipo_identificacao"
                    required />
            <div ng-show="editForm.tipo_identificacao.$invalid">
                <p class="help-block"
                    ng-show="editForm.tipo_identificacao.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="global.field.tbc_instituicao" for="field_tbc_instituicao">Tbc Instituicao</label>
            <select class="form-control" id="field_tbc_instituicao" name="tbc_instituicao" ng-model="vm.tbc_formulario.tbc_instituicao" ng-options="tbc_instituicao as tbc_instituicao.nome for tbc_instituicao in vm.tbc_instituicaos track by tbc_instituicao.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.tbc_instituicao.$invalid">
            <p class="help-block"
                ng-show="editForm.tbc_instituicao.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="global.field.tbc_sub_grupo" for="field_tbc_sub_grupo">Tbc Sub Grupo</label>
            <select class="form-control" id="field_tbc_sub_grupo" name="tbc_sub_grupo" ng-model="vm.tbc_formulario.tbc_sub_grupo" ng-options="tbc_sub_grupo as tbc_sub_grupo.nome for tbc_sub_grupo in vm.tbc_sub_grupos track by tbc_sub_grupo.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.tbc_sub_grupo.$invalid">
            <p class="help-block"
                ng-show="editForm.tbc_sub_grupo.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="global.field.tbc_tipo_cadastro" for="field_tbc_tipo_cadastro">Tbc Tipo Cadastro</label>
            <select class="form-control" id="field_tbc_tipo_cadastro" name="tbc_tipo_cadastro" ng-model="vm.tbc_formulario.tbc_tipo_cadastro" ng-options="tbc_tipo_cadastro as tbc_tipo_cadastro.nome for tbc_tipo_cadastro in vm.tbc_tipo_cadastros track by tbc_tipo_cadastro.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="global.field.tbc_status" for="field_tbc_status">Tbc Status</label>
            <select class="form-control" id="field_tbc_status" name="tbc_status" ng-model="vm.tbc_formulario.tbc_status" ng-options="tbc_status as tbc_status.nome for tbc_status in vm.tbc_statuses track by tbc_status.id" required>
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="activated">
                <input ng-disabled="vm.tbc_formulario.id === null" type="checkbox" id="activated" name="activated" data-reverse ng-model="vm.tbc_formulario.removido">
                <span data-translate="global.field.removido">Activated</span>
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
